<div class="container">
    <h1 class="text-center mt-2">Newest Articles</h1>
    <ul class="list-group mt-5">
        {{#each posts as |post|}}
        <li class="list-group-item">
            {{> post-info post}}
        </li>
        {{/each}}
    </ul>
</div>