<div class="flex-wrap">
  <div class="container mt-2 mb-2 col-4">
    <form class="register-form border">
        <div class="mb-3">
            <h2>Register</h2>
          <label for="usernameSignUp" class="form-label">username</label>
          <input type="text" class="form-control " id="usernameSignUp">
        </div>
        <div class="mb-3">
          <label for="passwordSignUp" class="form-label">Password</label>
          <input type="password" class="form-control " id="passwordSignUp">
        </div>
        <button type="submit" class="btn btn-primary mb-2 ms-2">Sign Me Up!</button>
      </form>
</div>

<div class="container mt-2 mb-2 col-4">
    <form class="login-form border">
        <div class="mb-3">
            <h2>Log In</h2>
          <label for="usernameInput" class="form-label">username</label>
          <input type="text" class="form-control " id="usernameInput">
        </div>
        <div class="mb-3">
          <label for="passwordInput" class="form-label">Password</label>
          <input type="password" class="form-control " id="passwordInput">
        </div>
        <button type="submit" class="btn btn-success mb-2 ms-2">Log Me In!</button>
      </form>
</div>
</div>


<script src="/js/login.js"></script>